@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a{
  cursor: pointer;
}

button[component=SignInButton]{
  cursor: pointer;
}

td, th{
  border: 1pt solid black;
}

main{
  margin-inline: calc(var(--spacing) * 6)
}